/*  importacoes de estilo  */
/* _______________________________________________________________________________________ */

/*  importacoes de estilo do header  */

@import url("./header/cabecalho/cabecalho.css");
@import url("./header/cabecalho/logo.css");
@import url("./header/cabecalho/menu.css");

/*  importacoes de estilo do main  */

@import url("./main/banner/banner.css");
@import url("./main/Cards/cads.css");
@import url("./main/Pessoas/criadores.css");
@import url("./main/Cards/receita.css");

/*  importacoes de estilo do footer */

@import url("./footer/rodape/index__rodape.css");


/*  importacoes de fontes */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Todo o conteudo da pagina  */
/* _______________________________________________________________________________________ */

/* Variaveis globais */

:root {
    
    /*  cores que serão usadas nos elementos das paginas  */
    
    --cor-elemento-01: #F0F0F0; 
    --cor-elemento-02: #C4C4C4;
    
    

    /*  cores que serão usadas apenas nos textos dsa paginas  */

    /* --cor-texto-01: */
    

  
    
    /*  cores que serão usadas nos textos e elementos das paginas  */

    --cor-compartilhada-01: #971c1c; 
    --cor-compartilhada-02: #8C8888;
    

    
    
    
    /* fontes  */
   
    --fonte-01: "Roboto", sans-serif; 
    --fonte-02: "Pacifico", cursive;

}

.indexPaginaInteira {

    text-decoration: none;
    font-family: var(--fonte-01);
    color: black;

}

.overlay {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0.5, 0.5, 0.5, 0.5); /* cor preta semi-transparente */
    display: none; /* inicialmente oculto */
    z-index: 1000; /* garantir que esteja acima de outros conteúdos */

}





