header {
  background: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
  padding: 2rem;
}
header .cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
header .cabecalho .linha {
  border-top: 1px solid black;
  width: 80%;
}

.cabecalho__menu {
  display: inline-flex;
  list-style-type: none;
  gap: 2.5rem;
}

.cabecalho__menu__texto {
  text-decoration: none;
  color: #0C0421;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375em;
}

main {
  margin: 0;
}

#home {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 80%;
  margin: 50px auto;
  justify-content: space-between;
}

.textos-home {
  color: #0C0421;
  font-weight: 400;
  font-family: "Krona One", sans-serif;
  font-size: 2em;
}

span {
  color: #4e75ff;
}

.btn-main {
  border-radius: 40px;
  background-color: #4e75ff;
  color: #FFFFFF;
  padding: 24px;
  font-weight: 600;
  font-size: 22px;
  width: 280px;
  border: none;
}

.imagem {
  width: 450px;
  height: 550px;
}

#nosso-espaco {
  margin: 50px auto;
  max-width: 1200px;
  width: 80%;
}
#nosso-espaco .detalhes {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  gap: 3em;
  padding: 2.5em 0em;
  width: 100%;
}
#nosso-espaco .detalhes .espaco-textos, #nosso-espaco .detalhes .imgs-espaco {
  max-width: 650px;
}
#nosso-espaco .detalhes .espaco-textos .titulo, #nosso-espaco .detalhes .imgs-espaco .titulo {
  color: #4e75ff;
  font-weight: 400;
  font-family: "Krona One", sans-serif;
  font-size: 1.93em;
}
#nosso-espaco .detalhes .espaco-textos .infos, #nosso-espaco .detalhes .imgs-espaco .infos {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375em;
}
#nosso-espaco .detalhes .espaco-textos .separador, #nosso-espaco .detalhes .imgs-espaco .separador {
  width: 100%;
}
#nosso-espaco .detalhes .imgs-espaco {
  display: inline-flex;
  gap: 2em;
}
#nosso-espaco .detalhes:nth-child(2) {
  flex-direction: row-reverse;
}

#servico {
  background: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
}

.cards {
  display: inline-flex;
  align-items: center;
  gap: 2em;
  padding: 2.5em 20em;
}
.cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  gap: 0.5em;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);
  padding: 2em;
  height: 550px;
}
.cards .card .img__card {
  align-self: center;
}
.cards .card .card-titulo {
  font-weight: 400;
  font-family: "Krona One", sans-serif;
  font-size: 1.625em;
  text-align: center;
}
.cards .card .card-texto {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375em;
  text-align: center;
}

#desconto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  text-align: center;
}
#desconto h4 {
  font-weight: 400;
  font-family: "Krona One", sans-serif;
  font-size: 2em;
  text-align: center;
}
#desconto p {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375em;
  text-align: center;
}
#desconto .input-btn {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
#desconto .input-btn .email__caixa {
  padding: 1em;
  width: 500px;
  border-radius: 40px 0px 0px 40px;
  border-color: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
}
#desconto .input-btn .email__botao {
  color: white;
  padding: 1em;
  background-color: #4e75ff;
  width: 300px;
  border-radius: 0px 40px 40px 0px;
  border: none;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375em;
  text-align: center;
}

#contatos {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 80%;
  margin: 50px auto;
  gap: 20px;
}
#contatos .contatos-imgs {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
#contatos .contatos-form {
  background: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
  border-radius: 40px;
  padding: 0em 2em 0em 2em;
}
#contatos .contatos-form .titulo {
  font-weight: 400;
  font-family: "Krona One", sans-serif;
  font-size: 2em;
  text-align: start;
  color: #4e75ff;
}
#contatos .contatos-form .infos {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 1.625em;
  text-align: start;
}
#contatos .inputs {
  margin: 10px auto;
}
#contatos .inputs .form-group {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  gap: 10px;
}
#contatos .inputs .form-group .titulo__caixa {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: #0C0421;
  text-align: start;
}
#contatos .inputs .form-group .dados__caixa {
  padding: 1em;
  width: 500px;
  border-radius: 40px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
}
#contatos .inputs .btn {
  margin: 60px auto;
  color: white;
  padding: 1em;
  background-color: #4e75ff;
  width: 600px;
  border-radius: 40px;
  border: none;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375em;
  text-align: center;
}

small {
  background: #E8F5C8;
  padding: 1em;
  display: flex;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=index.css.map */