@use '../Globais/Variavel.scss';

#desconto {
   
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 50px auto;
    text-align: center;

    h4 {

            font-weight: 400;
            font-family: Variavel.$ft-titulos;
            font-size: 2.0em;
            text-align: center;

    }

    
    p {

        font-weight: 400;
        font-family: Variavel.$ft-textos;
        font-size: 1.375em;
        text-align: center;

    }

    .input-btn {

    margin: 50px auto;    
    display: flex;
    justify-content: center;

        .email__caixa {

            padding: 1em;
            width: 500px;
            border-radius: 40px 0px 0px 40px;
            border-color: Variavel.$cor-secundaria;
            font-family: Variavel.$ft-textos;
            font-size: 1em;
            font-weight: 400;

        }

        .email__botao {

            color: white;
            padding: 1em;
            background-color: Variavel.$cor-secundaria;
            width: 300px;
            border-radius: 0px 40px 40px 0px;
            border: none;
            font-weight: 400;
            font-family: Variavel.$ft-textos;
            font-size: 1.375em;
            text-align: center;

        }

    }   

}